body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  width: 500px;
  margin: 50px auto;
  overflow: hidden;
}

.sidebar {
  float: right;
  width: 500px;
}


